<div class="container-fluid container-home">
<div class="col-md-2"></div>
<div class="col-md-8">

  <!-- user's repos and pull requests -->
  <h2>Repos</h2>
  <% @github_service.repos(current_user.nickname).each do |repo| %>
    <h3><%= repo[:name] %></h3>
    <h4>  <%= @github_service.open_requests(current_user.nickname, repo[:name]).count %> Pull Requests Open</h4>
  <% end %>

  <!-- user's followers -->
  <h2>Followers</h2>
  <% @github_service.followers(current_user.nickname).each do |follower| %>
    <%= follower[:login] %><br>
  <% end %>

  <!-- user's following -->
  <h2>Following</h2>
  <% @github_service.following(current_user.nickname).each do |f| %>
    <%= f[:login] %><br>
  <% end %>
</div>

<!-- user's following -->
<h2>Organizations</h2>
<% @github_service.orgs(current_user.nickname).each do |f| %>
  <%= f[:login] %><br>
<% end %>

<!-- number of user's starred repos -->
<h2>Number of Starred Repos:  <%= @github_service.starred(current_user.nickname).count %></h2>

<!-- user's current, longest streak, total contributions -->
<h2>Contributions:</h2>
<h3>Longest Streak: <%= @stats.max_streak %>  </h3>
<h3>Current Streak: <%= @stats.current_streak %> </h3>
<h3>Contributions last year: <%= @stats.commit_activity %></h3>

<!-- user's feed -->
<h2>Feed:</h2>
<% @github_service.events(current_user.nickname).first(3).each do |event| %>
  <% event.each do |commit| %><br>
    <%= commit[:message] %><br>
  <% end %><br>
<% end %>

<!-- user's followers feed -->
<h2>User's Following's Feed:</h2>
<% @github_service.following(current_user.nickname).each do |f| %>
  <%= f[:login] %>
  <% @github_service.events(f[:login]).first(3).each do |event| %>
    <% event.each do |commit| %><br>
      <%= commit[:message] %><br>
    <% end %><br>
  <% end %><br>
<% end %>

<!-- nav -->
<!-- user -->
<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-left">
        <h1 class="home navbar-left">Welcome <%= current_user.nickname %>!</h1>
      </div>
      <div class="navbar-header navbar-center">
        <%= link_to 'Le Rails Ex', root_path, class: "navbar-brand navbar-center" %>
      </div>
    </div><!-- /.navbar-collapse -->
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home navbar-right" %>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image navbar-right" %>
  </nav><!-- /nav -->
</div><!-- row -->

<div class="row">
  <div class="col-md-8 temp-col">
    <p>feed</p>
  </div>

  <!-- repos -->
  <div class="col-md-4 temp-col">
    <p>repos</p>
  </div>
</div><!-- row -->

</div>
<div class="col-md-2"></div>
</div><!-- /.container-fluid -->
